.nav-bar {
  text-align: center;
  padding: 1rem 2rem 1rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
  min-width: 9rem;
  border: solid 1px rgba(0,0,0, 0.05);
  background-color:  #abebc6;
  border-bottom: solid 4px #58d68d;
  color: #34495e;
}

.nav-button-box {
  text-align: center;
  padding: 1rem 1rem 1rem;
  border-radius: 0.5rem;
  margin: 1rem;
  min-width: 3rem;
  width: 6rem;
  height: 1rem;
  background-color: #a9cce3;
  border-bottom: solid 4px  #2874a6 ;
  float: left;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.nav-button-box:active {
  background-color: #a9cce3;
  box-shadow: 0 5px #2874a6;
  transform: translateY(1px);
}

.nav-button-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.nav-link {
  text-decoration: none;
}
